root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.{js,jsx,ts,tsx,vue}]
indent_size = 4
quote_type = single
curly_bracket_next_line = true

[Jenkinsfile]
indent_size = 4
